# gets auto-poked a lot
fish_variables
fish/functions
fish/conf.d
fish/themes
fishd.tmp*

nv/*
nvim/*

zsh.d/zsh_history
setup/debs/*
setup/clones/*
*zcompdump*
*.swp
leftwm/themes/*
*cronlog*
archive/*
